page-login {
    .fontRed {
        color: #f00;
    }
    // to show all text selected in ion-select
    .select-text {
        text-overflow: unset;
        white-space: unset;
    }
    .margin2 {
        margin: 2%;
    }
}
